<h1>Add a Stock to Your Account Portfolio</h1>
<h3><% if flash.has?(:message) %>
  <%= flash[:message] %>
  <% end %></h3>

<form action="/stocks" method="post">

  <h5>Add a Stock:<h5>
    <label> Stock Name: </label>
    <input type='text' name='name'>

    <label> Stock Ticker: </label>
    <input type='text' name='ticker'>
  <input type="submit" value="Buy Stock">

  <% @account.stocks.each do |stock| %>
    <li><a href="/stocks/<%=stock.id%>"><%= stock.name %></a> </li><br>
    <p>Ticker:  <%= stock.ticker %> </p>
  <% end%>
</form>
