<h1>Add a Stock to Your Account Portfolio</h1>

<form action="/stocks" method="post">

  <% Stock.all.each do |stock| %>
  <input type="checkbox" name="name" value="<%= stock.id %>"> <%= stock.name %><br>
  <% end %>
  <input type="submit" value="Buy Stock">

  <h5>Add a Stock that isn't Listed:<h5>
    <label> Stock Name: </label>
    <input type='text' name='name'>

    <label> Stock Ticker: </label>
    <input type='text' name='ticker'>
  <input type="submit" value="Buy Stock">
</form>
