<h3>Log In to View Your Brokerage Accounts</h3>
<form action="/login" method="post">

  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="password" name="password"></p>

  <input type="submit" value="Log In"><br>
  <br>
  <button><a href="/signup">Sign Up</a></button>

</form>
