<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Sinatra Brokerage Investments</title>
</head>
<body>
  <div class="container">
    <% if logged_in? %>
    <h2>Account Portfolio for <%= current_user.username %></h2>
    <% end %>

  </div>
  <%= yield %>
  <nav>
    <% if logged_in? %>
    <!-- <a href="/accounts/new"> Open an Account</a><br> -->
    <a href="/logout"> Log Out </a>
    <% end %>
  </nav>

</body>
</html>
