<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Sinatra Brokerage Investments</title>
</head>
<body>
  <%= yield %>

  <nav>
    <% if logged_in? %>

    <a href="/accounts/new"> Open a Brokerage Account</a>
    <a href="/logout"> Log Out </a>
    <p>Welcome, <%=current_user.username %></p>

    <%end %>
  </nav>

  <div class="container">
    <h2>Account Stock Portfolio</h2>
    <% if !@error_message.nil? %>
    <div class="alert alert-warning">
      <%= @error_message %>
    </div>
    <% end %>

  </div>
</body>
</html>
