<h1><%= @account.name %></h1>

<form action="/accounts/<%=@account.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label> Account Name: </label>
  <input type="text" name="name" value="<%=@account.name %>"> </br>

  <label> Account Category: </label>
  <input type="text" name="category" value="<%=@account.category %>"> </br>

  <input type="submit" value="Update">
</form>
