<% @accounts.each do |account| %>
  <%= account.name %>
  <%= account.category %><br>
  <button><a href="/accounts/new">Open a New Account</a></button>
  <button><a href="/accounts/<%= account.id %>/edit">Edit Existing Account </a></button><br>
<% end %>
